@font-face {
    font-family: 'sofiapro';
    src: url('fonts/Sofia\ Pro\ Regular\ Az.otf') format('OpenType');
    font-weight: normal;
    font-style: normal;

}

body{
    
    font-family: 'sofiapro', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

.trajet{
    background: url(Ligne_D.png);
}

.trajetpf{
    background: url(Ligne_D-1stop.png);
}

.trajetfin{
    background: url(Ligne_Dfin.png);
}

.stop{
    background:url(arret.png);
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

a:visited{
    text-decoration: none;
}

.arret{
    color: white;
    font-weight: bold;
    text-align: center;
    margin-top: 400px;
    font-size: 125px;
}

.direction{
    color: white;
    margin-top: 60px;
    margin-left: 330px;
    font-size: 100px;
    font-weight: bold;
}

.arretlien{
    color: white;
}

.stoplien{
    color: black;
}

.stop1{
    font-weight: bold;
    margin-top: 130px;
    margin-left: 240px;
    font-size: 125px;
    margin-bottom: 0px;
}

.stop2{
    font-weight: bold;
    margin-top: 45px;
    margin-left: 240px;
    margin-bottom: 0px;
    font-size: 125px;
}

.stop3{
    margin-left: 240px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 125px;
}

.heure1{
    color: white;
    margin-top: 3px;
    margin-left: 30px;
    margin-bottom: 0px;
    font-size: 80px;
    font-weight: bold;
}

.heure2{
    color: white;
    margin-top: 165px;
    margin-left: 30px;
    margin-bottom: 0px;
    font-size: 80px;
    font-weight: bold;
}

.heure3{
    color: white;
    margin-top: 512px;
    margin-left: 30px;
    margin-bottom: 0px;
    font-size: 80px;
    font-weight: bold;
}

.corresp0{
    margin-left: 230px;
}

.nocorresp{
    margin-top: 195px;
}

.imagecorresp{
    margin-top: 25px;
    margin-left: 15px;
}

.imagecorrespstop{
    margin-left: 15px;
    margin-top: 275px;
}