@font-face {
    font-family: 'sofiapro';
    src: url('fonts/Sofia\ Pro\ Regular\ Az.otf') format('OpenType');
    font-weight: normal;
    font-style: normal;

}

body{
    position: fixed; 
    overflow: hidden;
    font-family: 'sofiapro', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

.trajet{
    position: relative;
    background: url(Ligne_D.png) no-repeat center center fixed;
    background-size: 100vw 100vh;
}

.trajetpf{
    position: relative;
    background: url(Ligne_D-1stop.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.trajetfin{
    position: relative;
    background: url(Ligne_Dfin.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.stop{
    background:url(arret.png);
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

a:visited{
    text-decoration: none;
}

.acredits{
    text-decoration: underline;
}

.arret{
    color: white;
    font-weight: bold;
    text-align: center;
    margin-top: 22.5%;
    /*margin-top: 400px;*/
    font-size: 8vw;
}

.direction{
    color: white;
    margin-top: 2.8%;
    margin-left: 17.2%;
    font-size: 5vw;
    font-weight: bold;
}

.arretlien{
    color: white;
}

.stoplien{
    color: black;
}

.stop1{
    font-weight: bold;
    margin-top: 7%;
    margin-left: 13%;
    font-size: 7vw;
    margin-bottom: 0px;
}

.stop2{
    font-weight: bold;
    margin-top: 1.25%;
    margin-left: 13%;
    margin-bottom: 0px;
    font-size: 7vw;
}

.stop3{
    margin-left: 13%;
    /*margin-top: 0.5%;*/
    font-weight: bold;
    font-size: 7vw;
}

.heure1{
    color: white;
    margin-top: 0.3%;
    margin-left: 1.75%;
    margin-bottom: 0px;
    font-size: 4vw;
    font-weight: bold;
}

.heure2{
    color: white;
    margin-top: 8.9%;
    margin-left: 1.75%;
    margin-bottom: 0px;
    font-size: 4vw;
    font-weight: bold;
}

.heure3{
    color: white;
    margin-top: 18.75%;
    margin-left: 1.75%;
    margin-bottom: 0px;
    font-size: 4vw;
    font-weight: bold;
}

.corresp0{
    margin-left: 12%;
}


.nocorresp{
    margin-top: 10%;
}

.imagecorresp{
    margin-top: 25px;
    margin-left: 15px;
}

.imagecorrespstop{
    margin-left: 12.5px;
    margin-top: 132px;
    
}