@font-face {
    font-family: 'sofiapro';
    src: url('fonts/Sofia\ Pro\ Regular\ Az.otf') format('OpenType');
    font-weight: normal;
    font-style: normal;

}

body{
    position: fixed; 
    overflow: hidden;
    font-family: 'sofiapro', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

#msgattention{
    color: red;
}

.trajet{
    position: relative;
    background: url(Ligne_D.png) no-repeat center center fixed;
    background-size: 100vw 100vh;
}

.trajetpf{
    position: relative;
    background: url(Ligne_D-1stop.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.trajetfin{
    position: relative;
    background: url(Ligne_Dfin.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.stop{
    background:url(arret.png);
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

a:visited{
    text-decoration: none;
}

.acredits{
    text-decoration: underline;
}

.arret{
    color: white;
    font-weight: bold;
    text-align: center;
    margin-top: 22.5%;
    /*margin-top: 400px;*/
    font-size: 8vw;
}

.direction{
    color: white;
    margin-top: 5vh;
    margin-left: 30.5vh;
    font-size: 5vw;
    font-weight: bold;
}

.arretlien{
    color: white;
}

.stoplien{
    color: black;
}

.stop1{
    font-weight: bold;
    margin-top: 12vh;
    margin-left: 23vh;
    font-size: 7vw;
    margin-bottom: 0px;
}

.stop2{
    font-weight: bold;
    margin-top: 3vh;
    margin-left: 23vh;
    margin-bottom: 0px;
    font-size: 7vw;
}

.stop3{
    margin-left: 23vh;
    /*margin-top: 0.5%;*/
    font-weight: bold;
    font-size: 7vw;
}

.heure1{
    color: white;
    margin-top: 0.5vh;
    margin-left: 3vh;
    margin-bottom: 0px;
    font-size: 4vw;
    font-weight: bold;
}

.heure2{
    color: white;
    margin-top: 15.8vh;
    margin-left: 2.8vh;
    margin-bottom: 0px;
    font-size: 4vw;
    font-weight: bold;
}

.heure3{
    color: white;
    margin-top: 33.8vh;
    margin-left: 3.25vh;
    margin-bottom: 0px;
    font-size: 4vw;
    font-weight: bold;
}

.heurenocorresptaillees{
    color: white;
    margin-top: -0.5vh;
    margin-left: 3vh;
    margin-bottom: 0px;
    font-size: 4vw;
    font-weight: bold;
}

.heurenocorrespeg{
    color: white;
    margin-top: 14.8vh;
    margin-left: 2.8vh;
    margin-bottom: 0px;
    font-size: 4vw;
    font-weight: bold;
}

.corresp0{
    margin-left: 12%;
}


.nocorresp{
    margin-top: 10%;
}

.imagecorresp{
    margin-top: 25px;
    margin-left: 15px;
}

.imagecorrespstop{
    margin-left: 1vh;
    margin-top: 17vh;
    
}